/node_modules
/vendor

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

/build
/dist
/out

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
debug.log

.idea
.vscode
*.swp
*.swo

.DS_Store          # MacOS
Thumbs.db          # Windows
desktop.ini        # Windows

/coverage
/tests/e2e/reports/*
/tests/e2e/screenshots/*

/cypress/videos
/cypress/screenshots

config/base/setupProxy.js

Makefile